@{
    ViewData["Title"] = "Employee Management Privacy Policy";
}
<h3 class="text-center">@ViewData["Title"]</h3>

<aside>When you use our services, you’re trusting us with your information. We understand this is a big responsibility and work hard to protect your information and put you in control.</aside>
